* {
    border: border-box;
    background-color: lightblue;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.high-scores {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#start-button {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: black;
    font-size: 1.25rem;
}

#question-text {
    font: bold;
    font-size: 1.75rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.finish {
    border-radius: 10px;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quiz-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.replay {
    margin: 5px;
    border-radius: 10px;
    background-color: black;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
}

.question-option {
    margin: 5px;
    border-radius: 10px;
    background-color: black;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
}